.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $top-page-padding 14px 0;
  margin: 0 auto;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: $main-theme;
  font-family: $font-family-inter;
  color: $text-color-main;
  @media screen and (max-width: $screen-mobile) {
    padding: 14px 0 0;
  }
}
