// size
$screen-desktop: 1440px;
$desktop-content: 1140px;
$screen-mobile: 767px;

$top-page-padding: 46px;
$social-link-width: 20px;
$social-link-height: 20px;
$btn-width: 262px;
$btn-height: 61px;
// font
$font-family-inter: "Inter", Arial, sans-serif;
$font-family-montserrat: "Montserrat", Arial, sans-serif;
$font-size-extra-small: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium2: 16px;
$font-size-large: 18px;
$font-size-h1-desktop: 48px;
$font-size-h1-mobile: 36px;
// colors
$main-theme: #0e1014;
$text-color-main: #e4e5ea;
$text-color-grey: #656566;
$text-gradient: linear-gradient(90deg, rgba(252, 176, 69, 1) 20%, rgba(255, 63, 120, 1) 100%);
$button-bgcolor: #4077f3;
